<% if logged_in? %>

  <form method="POST" action='/tweets' >
    <input type="text" name="content">
    <input type="submit" name="submit">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
