<h2>Tweet</h2>
  <form action="/tweets" method="post">
    Content:
    <textarea name="content"></textarea><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>
