<h3><%= @tweet.content %></h3>

<br>

<p><a href="/tweets">Delete Tweet</a></p>
<form action="/tweets" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete" />
  <input type="submit" value="Delet" id="delete" />
</form>

<br>

<p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <input type="text" name="tweet[:content]" value="<%= @tweet.content %>" id="content" />
  <input type="submit" value="Edit" id="edit" /> 
</form>