<% if is_logged_in? %>
<%= @tweet.content %><br><br>

<a href="<%=@tweet.id%>/edit"> Edit This Tweet </a>

<form method="POST" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>












<% else %>
<p>You are not logged in. Please <a href='/login'>log in</a> to view tweets </p>
<% end %>