<form method="POST" action="/login">
    <input type="text" name="username" id="username" required><br>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" id="submit" value="Sign In">
</form>