<h3>Lets log you in</h3>
<form method="POST" action="/login">
<label>Username: </label><input type="text" id="username" name="username"><br>
<label>Password: </label><input type="password" id="password" name="password"><br>
<input type="submit" id="submit" value="Submit">
</form>
<br>
<a href='/'>Home Page</a>