<h1>Signup for Fwitter!</h1>
<form action="/signup" method="post"><br>
  <input type="text" name="username" id="username" required><br>
  <input type="email" name="email" id="email" required><br>
  <input type="password" name="password" id="password" required><br>
  <input type="submit" id="submit" value="Sign Up!">
</form>
